#wrapper {
  width: 100%;
  padding: 15px
  margin: auto;
  box-sizing: border-box;
}
#nav {
  float:left;
  width: 25%;
  box-sizing: border-box;
}
#mainContent {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
#rightSidebar {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
